{% extends 'admin/base.html.twig' %}

{% if(app.request.get('id')) %}
    {% set title = "Update a User" %}
{% else %}
    {% set title = "Create a User" %}
{% endif %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>
                            {{ title }}
                        </h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{{ path('app_admin_dashboard') }}">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="{{ path('app_admin_user_list') }}">Users</a></li>
                            <li class="breadcrumb-item active">{{ title }}</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <section class="content">
            <div class="col-md-12">
                <!-- Horizontal Form -->
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">{{ title }}</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                    <div class="card-body">
                        <div class="col-md-12 row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="fullName" class="col-sm-2 col-form-label">{{ form_label(form.fullName, 'Full Name') }}</label>
                                    {{ form_widget(form.fullName, {'attr': {'placeholder': 'Name', 'class': 'form-control', 'id': 'fullName'}}) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="email" class="col-sm-2 col-form-label">{{ form_label(form.email) }}</label>
                                    {{ form_widget(form.email, {'attr': {'placeholder': 'Email', 'class': 'form-control', 'id': 'email'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="password" class="col-sm-2 col-form-label">{{ form_label(form.password) }}</label>
                                    {{ form_widget(form.password, {'attr': {'class': 'form-control', 'id': 'password'}}) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="company" class="col-sm-2 col-form-label">{{ form_label(form.company) }}</label>
                                    {{ form_widget(form.company, {'attr': {'class': 'form-control', 'id': 'company'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="gender" class="col-sm-2 col-form-label">{{ form_label(form.gender) }}</label>
                                    {{ form_widget(form.gender, {'attr': {'class': 'form-control', 'id': 'gender'}}) }}
                                </div>
                            </div>
                            <div class="col-md-6 d-flex align-items-center">
                                <div class="form-group mb-0">
                                    <div class="form-check">
                                        {{ form_widget(form.role, {'attr': {'class': 'form-check-input', 'id': 'role'}}) }}
                                        <label for="role" class="form-check-label">Super Admin</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- /.card-body -->
                    <div class="card-footer">
                        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary float-right'}}) }}
                    </div>
                    <!-- /.card-footer -->
                    {{ form_end(form) }}
                </div>
                <!-- /.card -->
            </div>
        </section>
    </div>
{% endblock %}