<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
            crossorigin="anonymous" />
        <!-- Font Awesome -->
        <link rel="stylesheet" href="{{ asset('assets/AdminLTE/plugins/fontawesome-free/css/all.min.css')}} ">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <a class="navbar-brand" href="{{ path('home') }}">Rent<b>CAR</b></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link {% if route == 'home' %}active{% endif %}" aria-current="page" href="{{ path('home') }}">Home</a>
                            </li>
    {#                        <li class="nav-item dropdown">#}
    {#                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">#}
    {#                                Dropdown#}
    {#                            </a>#}
    {#                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">#}
    {#                                <li><a class="dropdown-item" href="#">Action</a></li>#}
    {#                                <li><a class="dropdown-item" href="#">Another action</a></li>#}
    {#                                <li><hr class="dropdown-divider"></li>#}
    {#                                <li><a class="dropdown-item" href="#">Something else here</a></li>#}
    {#                            </ul>#}
    {#                        </li>#}
                        </ul>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_login') }}">Sign in</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_register') }}">Sign up</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        {% block body %}{% endblock %}
        <footer class="text-muted py-5">
            <div class="container">
                <p class="float-end mb-0">
                    <b>Developed by</b> <a href="https://berkaycoban.com" class="text-muted" target="_blank">Berkay Coban</a>
                </p>
                <p class="mb-0"><b>© {{ 'now'|date('Y') }}.</b> All rights reserved.</p>
            </div>
        </footer>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"
        >
        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
